<ul class="o-list-bare c-ui-list">
  <li class="c-ui-list__item">
    <a href="https://twitter.com/{{ site.twitter_username }}" class="c-link c-link--bare">
      {% include atom.symbol.html value="twitter" %}
      Twitter
    </a>
  </li>
  <li class="c-ui-list__item">
    <a href="https://dribbble.com/{{ site.dribbble_username }}" class="c-link c-link--bare">
      {% include atom.symbol.html value="dribbble" %}
      Dribbble
    </a>
  </li>
  <li class="c-ui-list__item">
    <a href="https://github.com/{{ site.github_username }}" class="c-link c-link--bare">
      {% include atom.symbol.html value="github" %}
      Github
    </a>
  </li>
  <li class="c-ui-list__item">
    <a href="https://medium.com/{{ site.medium_username }}" class="c-link c-link--bare">
      {% include atom.symbol.html value="medium" %}
      Medium
     </a>
  </li>
</ul>
