<ul class="list-inline">
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      {% include atom.symbol.html value="twitter" %}
      Twitter
    </a>
  </li>
  <li>
    <a href="https://dribbble.com/{{ site.dribbble_username }}">
      {% include atom.symbol.html value="dribbble" %}
      Dribbble
    </a>
  </li>
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      {% include atom.symbol.html value="github" %}
      Github
    </a>
  </li>
  <li>
    <a href="https://medium.com/{{ site.medium_username }}">
      {% include atom.symbol.html value="medium" %}
      Medium
     </a>
  </li>
</ul>
