<form class="form-horizontal">
  <fieldset class="wk-well">
    <div class="wk-field-item wk-field-has-error">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="1">Naam aanvrager</label>
        <span class="wk-field-tip">(Verplicht)</span>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="1" type="text" placeholder="Jane Doe" value=""/>
      </div>
      <div class="wk-field-error col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10 col">Dit veld is verplicht</div>
    </div>
    <div class="wk-field-item wk-field-has-error">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="2">E-mail</label>
        <span class="wk-field-tip">(Verplicht)</span>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="2" type="email" placeholder="E-mail" value=""/>
      </div>
      <div class="wk-field-error col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10 col">Dit veld is verplicht</div>
    </div>
  </fieldset>
  <div class="wk-sub-header">
    <h4>Wijzig, corrigeer of vervolledig uw gegevens</h4>
  </div>
  <fieldset class="wk-well">
    <br>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="3">Naam</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="3" type="text" placeholder="" value=""/>
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="4">Adres</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="4" type="text" placeholder="" value=""/>
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="5">Postcode</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="5" type="text" placeholder="" value="" class="wk-input-small" />
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="6">Plaats</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="6" type="text" placeholder="" value=""/>
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="7">Tel. 1</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="7" type="text" placeholder="" value="" class="wk-input-medium" />
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="8">Tel. 2</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="8" type="text" placeholder="" value="" class="wk-input-medium" />
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="9">Fax</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="9" type="text" placeholder="" value="" class="wk-input-medium" />
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="10">Website</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="10" type="text" placeholder="" value=""/>
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="11">Taalcode</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="11" type="text" placeholder="" value="" class="wk-input-small" />
      </div>
    </div>
    <div class="wk-field-item">
      <div class="wk-field-header col-sm-3 col-lg-2">
        <label for="12">BTW-nr</label>
      </div>
      <div class="wk-field-body col-sm-9 col-lg-10">
        <input id="12" type="text" placeholder="" value="" class="wk-input-medium" />
      </div>
    </div>
    <div class="wk-field-item">
    </div>
  </fieldset>
  <div class="wk-button-bar wk-sub-header">
    <button type="submit" class="wk-button wk-button-primary">Verzenden <span class="wk-icon-arrow-thin-right"></span></button>
    <a href="#!" class="wk-button wk-button-secondary">Geen wijzigingen</a>
  </div>
</form>
