// ==========================================================================
// Badges
// ==========================================================================

$badge-color:                 $white;
$badge-link-hover-color:      $white;
$badge-bg:                    $gray-light;
$badge-active-color:          $link-color;
$badge-active-bg:             $white;
$badge-font-weight:           bold;
$badge-line-height:           1;
$badge-border-radius:         $border-radius-base;
