// ==========================================================================
// Typography
// ==========================================================================


$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:           Georgia, "Times New Roman", Times, serif;
$font-family-monospace:       Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;


$font-size-base:              16px;
$font-size-large:             18px;
$font-size-small:             14px;
$font-size-h1:                54px;
$font-size-h2:                42px;
$font-size-h3:                30px;
$font-size-h4:                24px;
$font-size-h5:                21px;
$font-size-h6:                18px;


$headings-font-family:        inherit;
$headings-font-weight:        500;
$headings-line-height:        1.1;
$line-height-base:            1.5;
$line-height-computed:        floor(($font-size-base * $line-height-base));


$body-bg:                     $white;
$text-color:                  $gray-dark;
$text-muted:                  $gray-light;
$headings-color:              inherit;
$link-color:                  $brand-primary;
$link-hover-color:            $brand-primary-light;
$link-hover-decoration:       underline;
$abbr-border-color:           $gray-light;
$headings-small-color:        $gray-light;
$blockquote-small-color:      $gray-light;
$blockquote-font-size:        $font-size-large;
$blockquote-border-color:     $gray-lighter;
$page-header-border-color:    $gray-lighter;
$hr-border:                   $gray-lighter;


$component-offset-horizontal: 180px;
$dl-horizontal-offset:        $component-offset-horizontal;
$dl-horizontal-breakpoint:    $grid-float-breakpoint;
