// ==========================================================================
// Code
// ==========================================================================

$code-color:                  $maroon;
$code-bg:                     $gray-lighter;

$kbd-color:                   $white;
$kbd-bg:                      $black;

$pre-bg:                      $gray-lighter;
$pre-color:                   $gray-dark;
$pre-border-color:            $gray-light;
$pre-scrollable-max-height:   340px;
