// ==========================================================================
// Modals
// ==========================================================================

$modal-inner-padding:                          $padding-base-large;

$modal-title-padding:                          $padding-base-large;
$modal-title-line-height:                      $line-height-base;

$modal-content-bg:                             $white;
$modal-content-border-color:                   rgba($black,.2);
$modal-content-fallback-border-color:          $gray-darker;

$modal-backdrop-bg:                            $white;
$modal-backdrop-opacity:                       .5;
$modal-header-border-color:                    $gray;
$modal-footer-border-color:                    $modal-header-border-color;

$modal-lg:                                     900px;
$modal-md:                                     600px;
$modal-sm:                                     300px;
