// ==========================================================================
// Breadcrumbs
// ==========================================================================

$breadcrumb-padding-vertical:   $padding-base-vertical;
$breadcrumb-padding-horizontal: $padding-base-horizontal;
$breadcrumb-bg:                 $gray-lighter;
$breadcrumb-color:              $gray;
$breadcrumb-active-color:       $gray-light;
$breadcrumb-separator:          "/";
