// ==========================================================================
// Panels
// ==========================================================================

$panel-bg:                    $white;
$panel-body-padding:          $padding-base;
$panel-heading-padding:       $padding-base-large $padding-base-large;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

$panel-inner-border:          $gray;
$panel-footer-bg:             $white;

$panel-default-text:          $gray-dark;
$panel-default-border:        $gray;
$panel-default-heading-bg:    $white;

$panel-primary-text:          $white;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $state-success-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $state-info-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $state-warning-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $state-danger-border;
$panel-danger-heading-bg:     $state-danger-bg;
