// ==========================================================================
// Thumbnails
// ==========================================================================

$thumbnail-padding:           $padding-base-small;
$thumbnail-bg:                $body-bg;
$thumbnail-border:            $gray-dark;
$thumbnail-border-radius:     $border-radius-base;

$thumbnail-caption-color:     $text-color;
$thumbnail-caption-padding:   $padding-base;
