// ==========================================================================
// Dropdowns
// ==========================================================================

$dropdown-bg:                    $white;
$dropdown-border:                rgba($black,.15);
$dropdown-fallback-border:       $gray-light;
$dropdown-divider-bg:            $gray-lighter;

$dropdown-link-color:            $gray-dark;
$dropdown-link-hover-color:      $gray;
$dropdown-link-hover-bg:         $gray-lighter;

$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        $component-active-bg;

$dropdown-link-disabled-color:   $gray-light;

$dropdown-header-color:          $gray-light;

$dropdown-caret-color:           $black;
