// ==========================================================================
// Core
// ==========================================================================


$padding-base:              12px;
$padding-base-vertical:     $padding-base;
$padding-base-horizontal:   $padding-base*2;

$padding-base-large:        $padding-base*2;
$padding-large-vertical:    $padding-base-large;
$padding-large-horizontal:  $padding-base-large*2;

$padding-base-small:        $padding-base/2;
$padding-small-vertical:    $padding-base-small;
$padding-small-horizontal:  $padding-base-small*2;

$padding-base-xsmall:       $padding-base/4;
$padding-xs-vertical:       $padding-base-xsmall;
$padding-xs-horizontal:     $padding-base-xsmall*2;

$line-height-large:         1.25; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-small:       2px;
$border-radius-large:       6px;


$component-active-color:    $white;
$component-active-bg:       $brand-primary;

$caret-width-base:          4px;
$caret-width-large:         5px;


// Z-index master list
$zindex-navbar:             1;
$zindex-dropdown:           1;
$zindex-popover:            5;
$zindex-tooltip:            6;
$zindex-navbar-fixed:       2;
$zindex-modal-background:   3;
$zindex-modal:              4;
