// ==========================================================================
// Grid
// ==========================================================================

$grid-columns:              12;
$grid-gutter-width:         $padding-base-large*2;

$grid-float-breakpoint:     $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
