// ==========================================================================
// Tables
// ==========================================================================

$table-cell-padding:            $padding-base;
$table-condensed-cell-padding:  $padding-base;

$table-bg:                      transparent;
$table-bg-accent:               $gray-lighter;
$table-bg-hover:                $gray-light;
$table-bg-active:               $table-bg-hover;

$table-border-color:            $gray;
