// ==========================================================================
// Popovers
// ==========================================================================

$popover-bg:                          $white;
$popover-max-width:                   276px;
$popover-border-color:                rgba($black,.2);
$popover-fallback-border-color:       $gray;

$popover-title-bg:                    darken($popover-bg, 3%);

$popover-arrow-width:                 10px;
$popover-arrow-color:                 $popover-bg;

$popover-arrow-outer-width:           ($popover-arrow-width + 1);
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05);
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%);
