// ==========================================================================
// Navbar
// ==========================================================================

$navbar-height:                             80px;
$navbar-margin-bottom:                      0;
$navbar-border-radius:                      0;
$navbar-padding-horizontal:                 $padding-base-large;
$navbar-padding-vertical:                   (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:                340px;

$navbar-default-color:                      $gray;
$navbar-default-bg:                         $white;
$navbar-default-border:                     transparent;

$navbar-default-link-color:                 $gray-darker;
$navbar-default-link-hover-color:           $gray-dark;
$navbar-default-link-hover-bg:              transparent;
$navbar-default-link-active-color:          $gray-dark;
$navbar-default-link-active-bg:             transparent;
$navbar-default-link-disabled-color:        $gray;
$navbar-default-link-disabled-bg:           transparent;

$navbar-default-brand-color:                $navbar-default-link-color;
$navbar-default-brand-hover-color:          $navbar-default-link-color;
$navbar-default-brand-hover-bg:             transparent;

$navbar-default-toggle-hover-bg:            $gray-lighter;
$navbar-default-toggle-icon-bar-bg:         $gray;
$navbar-default-toggle-border-color:        $gray-light;

$navbar-inverse-color:                      lighten($gray-light, 15%);
$navbar-inverse-bg:                         $gray-darker;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

$navbar-inverse-link-color:                 lighten($gray-light, 15%);
$navbar-inverse-link-hover-color:           $white;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        $gray-darker;
$navbar-inverse-link-disabled-bg:           transparent;

$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          $white;
$navbar-inverse-brand-hover-bg:             transparent;

$navbar-inverse-toggle-hover-bg:            $gray-darker;
$navbar-inverse-toggle-icon-bar-bg:         $white;
$navbar-inverse-toggle-border-color:        $gray-darker;
