// ==========================================================================
// Jumbotron
// ==========================================================================

$jumbotron-padding:              $padding-base-large*2;
$jumbotron-color:                inherit;
$jumbotron-bg:                   $gray-lighter;
$jumbotron-heading-color:        inherit;
$jumbotron-font-size:            $font-size-large;
$jumbotron-heading-font-size:    $font-size-h1;
